
<style>
.item.-phone {
  cursor: pointer;
}
.item.-phone:nonhover {
  margin-top: -2px;
  margin-left: -2px;
  border: 2px solid rgba(200, 200, 200, 0.6);
}

.item.-phone:active {
  margin-top: -2px;
  margin-left: -2px;
  border: 2px solid rgba(200, 200, 200, 0.9);
}

.item.-phone .item-clickable {
  left: 5px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-left: 2px solid rgba(255, 255, 255, 0.8);
  border-top: 2px solid rgba(255, 255, 255, 0.8);
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}
</style>
<div ng-if="item.type === TYPES.PHONE" class="item-entity-container">
	<div class="item-entity"> 
		<div class="item-entity--icon mdi mdi-phone"></div>
		 <div class="item-phone-mode" ng-if="entity.attributes.callerid">
            <span ng-bind="entity.attributes.callerid"></span>
         </div>
	</div>
</div>
~          